@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

/*----------------------------------------------------------header*/
.bg-custom{
     background-color: #fcf7de;
}

.nav-item {
    padding-left:20px;
    padding-top: 120px;
    font-family: 'Courgette';
    font-size: 20px;
   
}

.navbar a i {
    width: 45px;
    height: 45px;
    padding: 18px 0;
    font-size: 18px;
    line-height: 11px;
    border-radius: 50%;
    color: #154E87;
    background: #fcf7de;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar a i:hover {
    color: #3D90E3;
    background: #154E87;
}
/*----------------------------------------------------------footer*/

footer{
    font-family: 'Courgette';
    font-size: 20px;
    background-color: #fcf7de;
    padding-top:20px;
    padding-left:50px;

}

.footer-link a {
    text-decoration: none;
    color: #8c8982;
}

.footer-link a:hover {
    text-decoration: none;
    color: #4B4942;
}

/*----------------------------------------------------------carousel*/

.carousel-caption {
    font-family: 'Courgette';
    color: #fcf7de;
    font-size: 90px;
    opacity: 90%;
}

.slide-title{
    font-size: 20px;
}

/*----------------------------------------------------------about us info*/
.info{
   background-color: #fcf7de;
 color: #154E87;
 font-family: 'Courgette';  
}
.list-group-item {
 background-color: #fcf7de;
 color: #154E87;
 font-family: 'Courgette';
}

/*----------------------------------------------------------book now*/

.form-group{
 background-color: #fcf7de;
 color: #154E87;
 font-family: 'Courgette';  
 padding: 10px;
 text-align: center;
 display: flex;
 align-items: center;
 margin: auto;
}

.btn-default{
 background-color: #154E87;
 color: #fcf7de;
 padding: 50px;
}

.form-contact {
background-color: #fcf7de;
 color: #154E87;
 font-family: 'Courgette';  
 text-align: center;
 padding: 10px;
 margin: auto;
}
.form-control {
    text-align: center;
    align-items: center;
    display: flex;
}

/*----------------------------------------------------------destinations*/

.jumbotron {
    background-color: #fcf7de;
 color: #154E87;
 font-family: 'Courgette';  
 margin: auto;
}

.map {
    width:75%;
    height:400px;
    align-items: center;
    margin: auto;
    padding-bottom: 50px;
}

.map-container{
   background-color: #fcf7de; 
    margin: auto;
    display: flex;
}